<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity android:name="com.google.maps.example.CloudBasedMapStylingActivity"></activity>
        <activity
            android:name="com.google.maps.example.PolylineCustomizationActivity"
            android:label="@string/title_activity_polyline_customization"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>