branches:
  - main
plugins:
  - "@semantic-release/commit-analyzer"
  - "@semantic-release/release-notes-generator"
  - - "@google/semantic-release-replace-plugin"
    - replacements:
        - files:
            - "./ApiDemos/project/java-app/build.gradle.kts"
            - "./ApiDemos/project/kotlin-app/build.gradle.kts"
          from: "versionName = \".*\""
          to: "versionName = \"${nextRelease.version}\""
  - - "@semantic-release/git"
    - assets:
        - "./ApiDemos/project/java-app/build.gradle.kts"
        - "./ApiDemos/project/kotlin-app/build.gradle.kts"
  - - "@semantic-release/github"
    - assets:
        - "./ApiDemos-java-debug.apk"
        - "./ApiDemos-kotlin-debug.apk"
options:
  debug: true
