# Copyright 2026 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: Build demos

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ '*' ]
  pull_request:
    branches: [ '*' ]
  repository_dispatch:
    types: [ build ]
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build-ApiDemos:
    runs-on: ubuntu-latest
    timeout-minutes: 45

    steps:
    - uses: actions/checkout@v4

    - name: set up Java 21
      uses: actions/setup-java@v4
      with:
        distribution: 'adopt'
        java-version: '21'

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v5

    - name: Build and check
      run: |
        ./gradlew :ApiDemos:java-app:assembleDebug
        ./gradlew :ApiDemos:kotlin-app:assembleDebug
        ./gradlew :ApiDemos:common-ui:assembleDebug
        

  build-WearOS:
    runs-on: ubuntu-latest
    timeout-minutes: 45

    steps:
    - uses: actions/checkout@v4

    - name: set up Java 21
      uses: actions/setup-java@v4
      with:
        distribution: 'adopt'
        java-version: '21'

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v5

    - name: Build and check
      run: ./gradlew :WearOS:Wearable:assembleDebug

  build-FireMarkers:
    runs-on: ubuntu-latest
    timeout-minutes: 45

    steps:
    - uses: actions/checkout@v4

    - name: set up Java 21
      uses: actions/setup-java@v4
      with:
        distribution: 'adopt'
        java-version: '21'

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v5

    - name: Build and check
      run: ./gradlew :FireMarkers:app:assembleDebug

  build-Snippets:
    runs-on: ubuntu-latest
    timeout-minutes: 45

    steps:
    - uses: actions/checkout@v4

    - name: set up Java 21
      uses: actions/setup-java@v4
      with:
        distribution: 'adopt'
        java-version: '21'

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v5

    - name: Build and check
      run: |
        ./gradlew :snippets:app:assembleDebug
        ./gradlew :snippets:app-ktx:assembleDebug
        ./gradlew :snippets:app-utils-ktx:assembleDebug
        ./gradlew :snippets:app-compose:assembleDebug
        ./gradlew :snippets:app-places-ktx:assembleDebug
        ./gradlew :snippets:app-utils:assembleDebug

  build-tutorials:
    runs-on: ubuntu-latest
    timeout-minutes: 45

    steps:
    - uses: actions/checkout@v4

    - name: set up Java 21
      uses: actions/setup-java@v4
      with:
        distribution: 'adopt'
        java-version: '21'

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v5

    - name: Build and check
      run: |
        ./gradlew :tutorials:kotlin:Polygons:assembleDebug

  test:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    needs:
      - build-ApiDemos
      - build-WearOS
      - build-FireMarkers
      - build-Snippets
      - build-tutorials
    steps:
      - uses: actions/checkout@v4
      - name: set up Java 21
        uses: actions/setup-java@v4
        with:
          distribution: 'adopt'
          java-version: '21'
      
      - name: Run Unit Tests
        run: ./gradlew testDebugUnitTest
      
      - name: Run Lint
        run: ./gradlew lintDebug
